body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
}

#navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #0d6efd !important;
}

#navbar a {
    color: aliceblue !important;
    border-right: 1px solid #418cfc;
}

#navbar .navbar-brand {
    border: 0;
}

#navbar a.active {
    font-weight: bold;
}

.wrapper {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

h3 {
    font-weight: bolder;
    color: #0d6efd;
}

table.form {
    margin: 1rem 0 1rem 0;
    width: 100%;
}


tr td:nth-child(1) {
    color: #555;
    padding-right: 1rem;
    font-weight: bold;
}

td, input {
    border: 0;
}
td {
    border-bottom: 2px rgb(240, 240, 240) solid;
}


input {
    background-color: white;
}

input:focus {
    outline: none;
}

.btn {
    width: 100%;
    transition: 0.15s all ease-in;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

a.go-back {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

.hide {
    display: none;
}